
<ion-view>
    <ion-content style="background-color: #efeff4">
        <div class="list" style="margin-bottom: 7rem">
            <div style="margin-top:1rem;height: 12.8rem;background-color: #fff;z-index: 0" class="border-top-bottom">
                <div style="height: 50%" class="text-div">
                    <div class="left-div">
                        配送方式
                    </div>
                    <div class="fr">
                        {{orderDetail.deliver_type}}
                    </div>
                </div>
                <div style="height: 50%" class="text-div border-top-style">
                    <div class="fl">
                       送货时间
                    </div>
                    <div class="fr">
                        {{orderDetail.deliver_time}}
                    </div>
                </div>
            </div>

            <div style="margin-top:1rem;height: 12.8rem;background-color: #fff;z-index: 0;
            font-size: 2.6rem;color: #4c4c4c" class="border-top-bottom">

                <div style="width:8rem;height: 100%" class="fl">
                    <i class="ion-ios-location-outline" style="color:#39bf50;font-size: 4rem;margin-left:3rem;line-height: 12.8rem"></i>
                </div>
                <div style="margin-top:3.4rem;" class="fl">
                    <span>{{orderDetail.receiver_name}}</span>
                    <span style="margin-left:6.4rem">{{orderDetail.deliver_phone}}</span>
                </div>

                <div style="margin-top:3.4rem;" class="fl">
                    {{orderDetail.deliver_address}}
                </div>

            </div>


        </div>
    </ion-content>
    <div class="bar bar-footer " ng-if="statue==1">
        <button class="button " ng-click="cancelOrder()">取消订单</button>
        <button class="button " ng-click="pay()">去付款</button>
    </div>
    <div class="bar bar-footer " ng-if="statue=='unship'">
        <button class="button " ng-click="close()">关闭订单</button>
        <button class="button " ng-click="send()">发货</button>
    </div>
</ion-view>
