<ion-view class="account-address">
    <ion-content style="background-color: #efeff4;">
        <ion-list ng-if="addresses.length > 0">
            <ion-item ng-repeat="address in addresses"  style="margin-top:2rem;height: 10rem">
                <div style="width:7.2rem;float: left;margin-top:3.4rem;color:#39bf50;font-size: 3.2rem;height: 100%">
                    <i class="ion-ios-circle-outline" style="margin:0 2rem" ng-show="!address.select" ng-click="selectAddr(address)"></i>
                    <i class="ion-ios-checkmark" style="margin:0 2rem" ng-show="address.select" ng-click="selectAddr(address)"></i>
                </div>
                <div style="margin-top:2rem;color: #4c4c4c">
                    <div style="font-size: 2.6rem;margin-top:2rem;line-height: 2.6rem">
                        <span style="margin-right: 6rem">{{address.receiver_name}}</span>
                        <span>{{address.receiver_phone}}</span>

                    </div>
                    <div style="font-size: 2.2rem;line-height: 2.2rem;margin-top:1rem">{{address.address_detail}} </div>

                </div>



                <ion-option-button class="button-assertive" ng-click="delAddress($index)">
                    删除
                </ion-option-button>

            </ion-item>

            <ion-infinite-scroll icon="ion-loading-c" ng-if="moreDataCanBeLoaded()" on-infinite="getMore()" distance="10%">
            </ion-infinite-scroll>
        </ion-list>
        <div ng-if="addresses.length == 0;" style="text-align: center">
            暂无收获地址
        </div>
    </ion-content>

    <a href="#/account/addrChg/add"><div class="bar bar-footer" style="height: 7rem;display: inline;background-image: none;
    background-color: #39bf50;font-size: 3rem;line-height: 7rem;color: #ffffff;text-align: center;padding:0">
       新增地址
    </div></a>

</ion-view>
