
<ion-view>
    <ion-content>
        <div class="list" style="margin-bottom: 40px">
            <div class="item item-divider">
                收货人信息
            </div>
            <div class="item">
                收货人
             <span class="item-note">{{orderDetail.receiver_name}}</span>
            </div>
            <div class="item">
                联系电话
                <span class="item-note">{{orderDetail.deliver_phone}}</span>
            </div>
            <div class="item">
                收货地址
                <span class="item-note">{{orderDetail.deliver_address}}</span>
            </div>


            <div class="item item-divider">
                订单信息
            </div>
            <div class="item">
                订单号
                <span class="item-note">{{orderDetail.order_no}}</span>
            </div>
            <div class="item">
                订单金额
                <span class="item-note attention">￥{{orderDetail.order_total}}</span>
            </div>
            <div class="item">
                下单时间
                <span class="item-note">{{orderDetail.date_purchased}}</span>
            </div>
            <div class="item">
                订单状态
                <span class="item-note">{{orderDetail.order_status}}</span>
            </div>


            <div class="item item-divider">
                商品信息
            </div>
            <ion-list>
                <ion-item ng-repeat="item in orderDetail.items" class="item-thumbnail-left">
                    <img ng-src="{{item.product_images.small}}">
                    <h2 style="margin-top:10px">{{item.product_name}}</h2>
                    <p class="attention">￥{{item.product_sell_price/100}}</p>
                    <p class="fl">{{item.prod_sku_values}}</p>
                    <p class="fr"> x{{item.quantity}}</p>

                </ion-item>

            </ion-list>



        </div>
    </ion-content>
    <div class="bar bar-footer " ng-if="statue==1">
        <button class="button " ng-click="cancelOrder()">取消订单</button>
        <button class="button " ng-click="pay()">去付款</button>
    </div>
</ion-view>
