<ion-view>
    <ion-content style="background-color:#efeff4;line-height: 2.6rem;">
        <div class="item" style="white-space: normal;color: #666666;line-height: 2.6rem;font-size: 2.6rem;background-color:#efeff4">
            有农电商平台，一个老百姓自己的农产品电商平台。便捷易用的移动购物体验，强大的后台可以快速对接供应商，做到订单式采购，并通过自建配送点组合物流和配送，
            提供自动化拆单和拼单功能并结合大数据分析做到几乎零库存，最终实现价格优势、高效配送和产品新鲜度的三大用户体验！
        </div>
        <div class="item" style="margin:0rem 0;background-color:#efeff4; ">
            <div style="margin-left:auto;margin-right: auto;width:20rem;height: 20rem;background-color: #e5e5e5">
                <img src="../../img/logo.png" style="margin:2rem 3rem;width:16rem;height: 14rem;">
            </div>
        </div>
        <div class="item  item-icon-right" style="padding:0;padding-bottom:1rem;background-color:#efeff4;font-size: 2.6rem;text-align: center">
            客服电话：
            <a href="tel:4001005677"> <span  style="color: #39bf50;text-decoration:underline" >400-100-5677</span>
            </a>
        </div>
        <div class="item" style="text-align: center;padding-bottom:1rem;background-color:#efeff4;font-size: 2.6rem;">Copyright 2014-2015</div>
        <div class="item" style="text-align: center;border: none;padding-top:5px;background-color:#efeff4;font-size: 2.6rem">苏州有农网络技术有限公司</div>


    </ion-content>
</ion-view>
