<ion-view>
    <ion-content>
        <div class="item" style="white-space: normal">
            有农电商平台，一个老百姓自己的农产品电商平台。便捷易用的移动购物体验，强大的后台可以快速对接供应商，做到订单式采购，并通过自建配送点组合物流和配送，
            提供自动化拆单和拼单功能并结合大数据分析做到几乎零库存，最终实现价格优势、高效配送和产品新鲜度的三大用户体验！
        </div>

        <div class="item  item-icon-right">
            客服电话
            <a href="tel:4001005677"><i class="icon ion-ios-arrow-right fr"></i> <span class="fr"  >400-100-5677</span>
            </a>
        </div>
        <div class="item" style="text-align: center;padding-bottom:0">Copyright 2014-2015</div>
        <div class="item" style="text-align: center;border: none;padding-top:5px">苏州有农网络技术有限公司</div>


    </ion-content>
</ion-view>
