<ion-view view-title="天天有农">
    <ion-content>
        <ul class="list">
        	<li class="item order-suc-header">
        		<div class="order-suc-img">
        			<i class="ion-checkmark-circled"></i>
        		</div>
        		<p class="order-suc-status">
        			订单状态：<em>待支付</em>
        		</p>
        	</li>
        	<li class="item order-suc-detail">
        		
        	</li>
        	<li class="item order-suc-pay"></li>
        	<li class="item order-suc-footer"></li>
        </ul>
    </ion-content>
</ion-view>
