<ion-view view-title="天天有农">
    <ion-content>
        <div class="list-content">
            <!-- 搜索框 -->
            <div class="search padding-bottom padding-top">
                <div class="row">
                    <div class="col col-75">
                        <label class="item item-input">
                            <i class="icon ion-search placeholder-icon"></i>
                            <input type="text" placeholder="请输入商品关键字" ng-model="searchStr">
                        </label>                        
                    </div>
                    <div class="col col-25">
                        <button class="button button-stable" ng-click="search(searchStr)" style="float:right">
                            搜索
                        </button>
                    </div>
                </div>
            </div>
            <!-- 产品列表 -->
            <ion-list>
                <ion-item class="item-thumbnail-left" ng-repeat="pro in proListInfo.proList">
                    <img ng-src="{{pro.product_images.small}}" ng-click="jumpDetail(pro.product_id)">
                    <h2 style="margin-top:10px">{{pro.product_name}}</h2>
                    <p class="attention">￥{{pro.product_sell_price/100}}</p>
                    <p class="fl">{{pro.sku_attrval}}</p>
                    <div class="fr list-cart-btn">
                        <i class="icon ion-ios-cart list-cart-btn " ng-click="addGoods($index)"></i>
                    </div>
                </ion-item>
                <ion-infinite-scroll icon="ion-loading-c" ng-if="hasMore()" on-infinite="loadMore()" distance="10%">
                </ion-infinite-scroll>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
