<ion-view view-title="天天有农" class="order-suc">
    <ion-content>
        <ul class="list">
        	<li class="item order-suc-header">
        		<div class="order-suc-img">
        			<i class="ion-checkmark-circled"></i>
        		</div>
        		<p class="order-suc-status">
        			订单状态：<em>{{orderDetail.order_status}}</em>
        		</p>
        	</li>
        	<li class="item order-suc-detail">
        		<ul>
                    <li>订单号<span class="item-note">{{orderDetail.order_no}}</span></li>
                    <li>下单时间<span class="item-note">{{orderDetail.date_purchased}}</span></li> 
                    <li>送货时间<span class="item-note">{{orderDetail.deliver_time}}</span></li> 
                    <li>配送时间<span class="item-note">{{orderDetail.real_deliver_time}}</span></li>
                </ul>
        	</li>
        	<li class="item order-suc-pay row">
                <div class="col col-66">
                    应付金额 <span class="order-suc-amount">￥{{orderDetail.order_total/100}}</span>
                </div>
                <div class="col col-33">
                    <button class="button order-suc-btn-pay" ng-click="toPay()">去支付</button>
                </div>  
            </li>
        	<li class="item order-suc-footer">
                <p>请在30分钟内完成付款</p>
                <p>超过4小时未付款的订单将自动取消</p>   
            </li>
        </ul>
    </ion-content>
</ion-view>
