.change-address-button{
    padding:5px;
    min-width: 0;
    min-height: 0;
    line-height: 20px;
}


.list .aadressSelect{
    height: 40px;
    margin: 10px;
    border: none;

}
.account-address .list{
    background-color: #efeff4;

}

.account-address .list:last-child{

    padding-bottom:7rem;
}

.orders-item .item{
    padding:0;
    border:0;
}

.addrChg .list:last-child{
    margin-bottom: 8rem;
}

