/* defalut */


html{
    font-size:62.5%; /* 10÷16=62.5% */
}
body{
    font-size:12px;
    font-size:1.2rem ; /* 12÷10=1.2 */
}
p{
    font-size:14px;
    font-size:1.4rem;
}

a{
	text-decoration: none;
}

html {
    font-size: 62.5%;
}


@media only screen and (min-width: 481px){
    html {
        font-size: 94%!important;
    }
}
@media only screen and (min-width: 561px){
    html {
        font-size: 109%!important;
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 125%!important;
    }
}

.item.activated{
    background-color: #D9D9D9 !important;
}

.tabs{
    background-image: none;
}

.bar{
    background-image: none;
}

@media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .bar {
        border: none;
        background-image: none;
        background-position: bottom;
        background-size: 100% 1px;
        background-repeat: no-repeat; } }
/* Empty. Add your own CSS if you like */
.fl{float: left;}
.fr{float: right;}
.attention{color:#ff0000 !important}
a{text-decoration: none;color: #444}

select{
    background-color: #fff;
}

.list{
    padding-top:0;
}
.item-right-editable .item-content{
    position: relative;
}

.item-right-editable .item-content::after{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    -webkit-transform: scale(.5);
    -webkit-transform-origin: 0 0;
    -webkit-box-sizing: border-box;
    z-index :-999;

}

 .border-top-bottom{
    position: relative;
}

 .border-top-bottom::after{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    -webkit-transform: scale(.5);
    -webkit-transform-origin: 0 0;
    -webkit-box-sizing: border-box;
    z-index :-999;

}


.border-top-style{
    position: relative;
}

.border-top-style::after{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 1px solid #cccccc;
    -webkit-transform: scale(.5);
    -webkit-transform-origin: 0 0;
    -webkit-box-sizing: border-box;
    z-index :-999;
}

.border-style{
    position: relative;
}

.border-style::after{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #cccccc;
    -webkit-transform: scale(.5);
    -webkit-transform-origin: 0 0;
    -webkit-box-sizing: border-box;
    z-index :-999;
    border-radius: 0.4rem;
}

.border-bottom-style{
    position: relative;
}

.border-bottom-style::after{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid #cccccc;
    -webkit-transform: scale(.5);
    -webkit-transform-origin: 0 0;
    -webkit-box-sizing: border-box;
    z-index :-999;
}

.border-left-style{
    position: relative;
}

.border-left-style::after{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border-left: 1px solid #cccccc;
    -webkit-transform: scale(.5);
    -webkit-transform-origin: 0 0;
    -webkit-box-sizing: border-box;
    z-index :-999;
}

.border-right-style{
    position: relative;
}

.border-right-style::after{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid #cccccc;
    -webkit-transform: scale(.5);
    -webkit-transform-origin: 0 0;
    -webkit-box-sizing: border-box;
    z-index :-999;
}

.item{
    border-width: 0;
    border-style: none;
}


.item-thumbnail-left{
    padding-left:17rem;
}

.item-right-editable .item-content{
    padding:0;
}

.ion-record{
    font-size: 1.5rem;
}
.slider-pager .slider-pager-page{
    width:1.2rem;
}

.tabs-icon-top .tab-nav{
    background-color:#39bf50;
    height: 10rem;
    padding:0;
}
/*.tabs-icon-top .tab-nav .tab-item-active{*/
    /*color: #ffffff !important;*/
/*}*/

.slider-slides{
    padding-top:1px;
}

.tabs-icon-top > .tabs .tab-item{
    color:#9cdfa8;
    max-width: none;
    width:33%;
    font-size: 2rem;
    line-height: 2rem;

}

.tab-item .icon{
    line-height: 1rem;
    height: 5rem;
    font-size: 5rem;
    margin-top:1rem;
}

.tabs .tab-item .badge.badge-assertive, .badge.badge-assertive{
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 0.5rem;
    border-radius: 3rem;
    right: 36%;
    top:1rem;
}

.tab-item .badge{
    padding:0;
}
.tabs{
    background-image: none;
}

ion-tabs.tabs-color-active-positive .tab-item{
    color: #ffffff ;
}

.ion-tabs.tabs-color-active-positive .tab-item.activated{
        color: #ffffff ;
    background-image: none;
}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated{
    color: #ffffff ;
    background-image: none;
}

.title-font{
    font-size: 2.6rem;color: #4c4c4c;height: 6.5rem;line-height: 2.5rem;
}

.little-white-font-button{
    font-size: 2.2rem;color: #ffffff;width:12rem;border-radius: 0.4rem;height: 4.2rem;background-color: #d95c5c;
    border: none;padding: 0;
}

.little-black-font-button{
    font-size: 2.2rem;color: #737373;width:12rem;border-radius: 0.4rem;height: 4.2rem;background-color: #ffffff;
    border: none;padding: 0;
}


.deActive i {
    color: #9cdfa8 !important;
}

.active i {
    color: #ffffff !important;
}

.active i span{
    color: #ffffff !important;
}

.tabs-icon-top.tabs .tab-item{
    font-size: 2rem;
    max-width: none;
    width: 33%;
}

.tabs-icon-top.tabs .active{
    color: #ffffff;
}

.tabs-basket {
    position: absolute;
    background-color: red;
    color: #ffffff;
    min-width: 3rem;
    min-height: 3rem;
    top: 1rem;
    right: 7rem;
    border-radius: 10rem;
    font-size: 2rem;
    line-height: 3rem;
}

.popup-body{
    line-height: 2rem;
}

.change-address-button{
    padding:5px;
    min-width: 0;
    min-height: 0;
    line-height: 20px;
}


.list .aadressSelect{
    font-size: 2.6rem;
    color: #4c4c4c;
    border: none;
    -webkit-appearance: none;
    float: left;
    min-width: 0;
}
.account-address .list{
    background-color: #efeff4;

}

.account-address .list:last-child{

    padding-bottom:7rem;
}

.orders-item .item{
    padding:0;
    border:0;
}

.addrChg input{
    font-size: 2.6rem;
    color: #4c4c4c;
    height:6rem;
    line-height: 6rem;
    padding: 0;
}

.addrChg .list:last-child{
    margin-bottom: 8rem;
}
.addrChg label{
    padding:0;
    line-height: 8rem;
    height: 8rem;
}

.addrChg .input-label{
    font-size: 2.6rem;
    color: #808080;
    padding: 0;
    width:initial;
    margin:0  2rem 0 3rem;
    height: 8rem;
    line-height: 8rem;
}


.addrChg i{
    font-size: 2.6rem;
    color: #808080;
    position: absolute;
    right: 2rem;
}

.text-div{
    height: 6.4rem;
    font-size: 2.2rem;
    color: #666666;
    line-height: 6.4rem;
    background-color: #fff;
    z-index: 0;
}

.text-div div{
    margin:0 2rem;
}

.text-div .left-div{
    float: left;
    font-size: 2.6rem;
    color: #4c4c4c;

}

.order-detail .list:last-child{
    margin-bottom:1rem;
}



.list-pro-item{
    padding:0;
}
.list-pro-item img{
    width: 80px;
    height: 80px;
}
.list-detail{
    padding-left: 20px;
}
p.list-pro-price{
    color: red;
    font-size: 1.2rem;
}
/*h2.list-pro-title{
	white-space: normal;
    height: 2.5rem;
}*/
.list-pro-des{
    padding-top: 5px;
    padding-bottom: 5px;
}
.list-pro-img{
    width: 100%;
    height: 5rem;
}
.list-cart-btn{
    position: absolute;
    top: 0px;
    right: 10px;
    height: 100%;
    padding-top: 35px;
    font-size: 2rem;
}
.detail-slide-box{
    height: 8rem;
}
.detail-slide-item{
    height: 8rem;
    background-color: white;
}
.detail-slide-item img{
    width: 100%;
    height: 100%;
}

.detail-base-info{
    margin-top: 20px;
}
.detail-image-detail{
    margin-top: 20px;
}
.detail-image-detail img{
    width: 100%;
}
.detail-operation{
    height: 52px;
    padding:0;
}
.detail-add-cart, .detail-buyit{
    width: 100%;
    border-radius: 3px;
}
.detail-jump-cart{
    font-size: 2rem;
    position: relative;
}
.detail-number-select{
    line-height: 34px;
    padding-left: 10px;
}
.detail-number-select select{
    margin-top: 6px;
}
.detail-cart-badge{
    position: absolute;
    right: -15px;
    top: 3px;
    font-size: .5rem;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.detail-image-detail-header{
    margin-bottom: 20px;
}


.fill-info-item .row{
    padding: 0;
    height: 34px;
    line-height: 34px;
}
.fill-info-item .col{
    padding: 0;
}
.fill-info-item {
    padding-top: 8px;
    padding-bottom: 8px;
}
.fill-account-item .col:last-child{
    text-align: right;
}
.fill-submit{
    line-height: 35px;
    height: 55px;
}
.fill-info-item select{
    margin-top: 8px;
}
.fill-pro-item .col:last-child{
    text-align: right;
}
.fill-info-title{
    border-color: rgba(1,1,1,0);
    padding-top: 20px;
    background-color: rgb(244,245,246);
}
.fill-info-title i{
    font-size: 1.6rem;
    margin-right: .3rem;
    margin-top: 1px;
    position: relative;
    top: 3px;
}
.fill-btn-submit{
    width: 100%;
}
.fill-pro-info img{
    width: 100%;
    height: 60px;
}
.fill-pro-item h3.fill-pro-title{
    margin-bottom: 16px;
}
.fill-pro-quantity{
    font-size: 1.2rem;
    padding-top: 5px;
}

.order-suc{
    background-color:rgb(244,245,246);
}

.order-suc-header{
    background-color:rgb(244,245,246);
}
.order-suc-img{
    margin:0 auto;
    font-size: 5rem;
    width: 5rem;
    color:green;
    margin-bottom: 10px;
}
.order-suc-status{
    text-align: center;
}
.order-suc-pay{
    line-height: 47px;
}
.order-suc-footer{
    border-bottom: none;
    background-color:rgb(244,245,246);
    text-align:center;
}
.order-suc-footer p{
    font-size: 10px;
}
.order-suc-detail li{
    margin-bottom: 5px;
}
.order-suc-btn-pay{
    float: right;
}

.list-content .list:last-child{
    margin-bottom:9rem;
}

.order-fill .list{
    margin-top: 1rem;
}



.slider-pager{
    bottom:1rem;
}


.index-cart{

}


.index-cart .list:last-child{
    padding-bottom:17rem;
}

.index-person{
    float: left;
    padding: 5px 5px;
    background-color: #B4EEB4;
    margin-top: 25px;
    border-radius: 4px;
}

.index-slide-item{
    height: 100%;
    background-color: white;
}
.index-slide-item img{
    width: 100%;
    height: 100%;
}
.index-content{
    background-color: #f5f5f5;
}

.item-right-editable .item-content{
    height: 100%;
}


.index-content .list{
    margin-top:1px;
}

.index-content .list:last-child{
    padding-bottom:10rem;
}

.index-cate-list{
    background-color: #f5f5f5;
}
.index-cate-item > .row,.index-hot > .row{
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
.index-pro-item{
    margin-top: 10px;
}
.index-pro-item h3 {
    height: 42px;
    white-space: normal;
    margin-bottom: 0;
}


.index-cate-item, .index-hot{
    padding-left: 0;
    padding-right: 0;
}
.index-cate-item h2, .index-hot h2{
    padding-left: 10px;
}

.account .list:last-child{
    margin-bottom: 17rem;

}


/* 首页产品详情 */
.index-pro{
    background-color: #f5f5f5;
}
.index-pro p{
    padding-top: 0;
}
.index-pro img{
    width: 100%;
    height: 7rem;
}
.index-yn-price {
    color: red;
    font-size: 1.2rem;
}
.index-cart-btn{
    /*color: rgb(60,129,242);*/
    float: right;
    font-size: 2rem;
    padding-right: .5rem;
    margin-top: -6px;
}
.index-pro-des{
    padding-top: 3px;
    padding-bottom: 5px;
}

.top-slide {
position: relative;
}

.top-slide::after{
content: " ";
width: 200%;
height: 1px;
position: absolute;
top: 0;
left: 0;
border-top: 1px solid #cccccc;
-webkit-transform: scale(.5);
-webkit-transform-origin: 0 0;
-webkit-box-sizing: border-box;
z-index :0;

}

