/* defalut */


html{
    font-size:62.5%; /* 10÷16=62.5% */
}
body{
    font-size:12px;
    font-size:1.2rem ; /* 12÷10=1.2 */
}
p{
    font-size:14px;
    font-size:1.4rem;
}

a{
	text-decoration: none;
}

html {
    font-size: 62.5%;
}
@media only screen and (min-width: 481px){
    html {
        font-size: 94%!important;
    }
}
@media only screen and (min-width: 561px){
    html {
        font-size: 109%!important;
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 125%!important;
    }
}

/* Empty. Add your own CSS if you like */
.fl{float: left;}
.fr{float: right;}
.attention{color:#ff0000 !important}
a{text-decoration: none;color: #444}

select{
    background-color: #fff;
}

.list{
    padding-top:0;
}
.item-right-editable .item-content{
    position: relative;
}

.item-right-editable .item-content::after{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    -webkit-transform: scale(.5);
    -webkit-transform-origin: 0 0;
    -webkit-box-sizing: border-box;
    z-index :-999;

}

 .border-top-bottom{
    position: relative;
}

 .border-top-bottom::after{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    -webkit-transform: scale(.5);
    -webkit-transform-origin: 0 0;
    -webkit-box-sizing: border-box;
    z-index :-999;

}


.border-top-style{
    position: relative;
}

.border-top-style::after{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 1px solid #cccccc;
    -webkit-transform: scale(.5);
    -webkit-transform-origin: 0 0;
    -webkit-box-sizing: border-box;
    z-index :-999;
}

.border-style{
    position: relative;
}

.border-style::after{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #cccccc;
    -webkit-transform: scale(.5);
    -webkit-transform-origin: 0 0;
    -webkit-box-sizing: border-box;
    z-index :-999;
    border-radius: 0.4rem;
}

.border-bottom-style{
    position: relative;
}

.border-bottom-style::after{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid #cccccc;
    -webkit-transform: scale(.5);
    -webkit-transform-origin: 0 0;
    -webkit-box-sizing: border-box;
    z-index :-999;
}

.border-left-style{
    position: relative;
}

.border-left-style::after{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border-left: 1px solid #cccccc;
    -webkit-transform: scale(.5);
    -webkit-transform-origin: 0 0;
    -webkit-box-sizing: border-box;
    z-index :-999;
}

.border-right-style{
    position: relative;
}

.border-right-style::after{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid #cccccc;
    -webkit-transform: scale(.5);
    -webkit-transform-origin: 0 0;
    -webkit-box-sizing: border-box;
    z-index :-999;
}

.item{
    border-width: 0;
    border-style: none;
}


.item-thumbnail-left{
    padding-left:17rem;
}

.item-right-editable .item-content{
    padding:0;
}

.ion-record{
    font-size: 1.5rem;
}
.slider-pager .slider-pager-page{
    width:1.2rem;
}

.tabs-icon-top .tab-nav{
    background-color:#39bf50;
    height: 10rem;
    padding:0;

}
/*.tabs-icon-top .tab-nav .tab-item-active{*/
    /*color: #ffffff !important;*/
/*}*/

.slider-slides{
    margin-top:1px;
}

.tabs-icon-top > .tabs .tab-item{
    color:#9cdfa8;
    max-width: none;
    width:33%;
    font-size: 2rem;
    line-height: 2rem;

}

.tab-item .icon{
    line-height: 1rem;
    height: 5rem;
    font-size: 5rem;
    margin-top:1rem;
}

.tabs .tab-item .badge.badge-assertive, .badge.badge-assertive{
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 0.5rem;
    border-radius: 3rem;
    right: 36%;
    top:1rem;
}

.tab-item .badge{
    padding:0;
}

.ion-tabs.tabs-color-active-positive .tab-item.activated{
        color: #ffffff;
}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated{
    color: #ffffff;
}

.title-font{
    font-size: 2.6rem;color: #4c4c4c;height: 6.5rem;line-height: 2.5rem;
}

.little-white-font-button{
    font-size: 2.2rem;color: #ffffff;width:12rem;border-radius: 0.4rem;height: 4.2rem;background-color: #d95c5c;
    border: none;padding: 0;
}

.little-black-font-button{
    font-size: 2.2rem;color: #737373;width:12rem;border-radius: 0.4rem;height: 4.2rem;background-color: #ffffff;
    border: none;padding: 0;
}


.deActive i {
    color: #9cdfa8 !important;
}

.active i {
    color: #ffffff !important;
}

.active i span{
    color: #ffffff !important;
}

.tabs-icon-top.tabs .tab-item{
    font-size: 2rem;
    max-width: none;
    width: 33%;
}

.tabs-icon-top.tabs .active{
    color: #ffffff;
}

.tabs-basket {
    position: absolute;
    background-color: red;
    color: #ffffff;
    padding: 0.5rem;
    min-width: 2rem;
    min-height: 2rem;
    top: 0rem;
    right: 4rem;
    border-radius: 2rem;
    font-size: 2rem;
}

